node_modules/
dist/
.expo/
coverage/
epubs-for-test/
apps/persimmon/android/
apps/persimmon/ios/
apps/persimmon/modules/*/android/build/
apps/persimmon/modules/*/ios/build/
pnpm-lock.yaml
vendor/react-native-natural-page-turn/
